@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
.clock {
    color: black;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
}
