@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none !important;
    user-select: none !important;
}

html {
    /* allows us to scroll smoothly to any section of page */
    scroll-behavior: smooth;
}

body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

:root {
    --transition: all 400ms ease;
}

::-webkit-scrollbar {
    /* for scroll bar on the left */
    display: none;
}

.header-container {
    height: 80vh;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.text-wobble {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.links {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

h1{
    font-size: 3rem;
}

.button-links {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -3px 3px 0 black;
    transform: skewY(3deg);
    transition: var(--transition);
    color: black;
    position: relative;
    animation: updown 1s infinite alternate;
}

.btn1 {
    animation-delay: 0.2s;
}

.btn2 {
    animation-delay: 0.8s;
}

.btn3 {
    animation-delay: 0.10s;
}

.btn4 {
    animation-delay: 0.6s;
}

@keyframes updown {
    from {
        top: 0;
    }

    to {
        top: 10px;
    }
}

.button-links:hover {
    box-shadow: -0px 0px 0 black;
    translate: -4px 4px;
}

.button-links:after {
    content: attr(name);
    font-weight: 500;
    position: absolute;
    bottom: -2rem;
}

.autoType {
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
}

.game-link {
    width: max-content !important;
    display: flex;
    gap: 1rem;
    animation-delay: 0.1s !important;
}


@media screen and (max-width: 432px) {
    .links {
        column-gap: 12rem;
    }
}

@media screen and (max-width: 390px) {
    .links {
        column-gap: 10rem;
    }
}