/* CSS styles for the game */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
h1{
    margin-bottom: 1rem;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 305px;
    height: 305px;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    background: #dddedf;
}

/* Add some styling to the game */
.cell:hover {
    background-color: #87CEFA;
    cursor: pointer;
}

.cell.x {
    color: #f00;
}

.cell.o {
    color: #00f;
}

/* Add some css for winning cells */
.cell.win {
    background-color: #7FFF00;
}


#result {
    margin-top: 20px;
    font-size: 20px;
}

#reset-button {
    margin-top: 10px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -3px 3px 0 black;
    transform: skewY(3deg);
    transition: 400ms ease;
    color: black;

}

#reset-button:focus{
    box-shadow: -0px 0px 0 black;
    translate: -4px 4px;
}